--acronyms ID,URL,UUID
--allman false
--assetliterals visual-width
--binarygrouping 4,8
--classthreshold 0
--closingparen balanced
--closurevoid remove
--commas inline
--conflictmarkers reject
--decimalgrouping 3,6
--elseposition same-line
--emptybraces no-space
--enumnamespaces always
--enumthreshold 0
--exponentcase lowercase
--exponentgrouping disabled
--extensionacl on-extension
--extensionlength 0
--fractiongrouping disabled
--fragment false
--funcattributes prev-line
--generictypes
--guardelse next-line
--header strip
--hexgrouping 4,8
--hexliteralcase uppercase
--ifdef no-indent
--importgrouping testable-last
--indent 4
--indentcase false
--indentstrings false
--lineaftermarks true
--linebreaks lf
--maxwidth 100
--modifierorder public,override
--nospaceoperators ...,..<
--octalgrouping 4,8
--operatorfunc spaced
--organizetypes actor,class,struct
--patternlet hoist
--propertytypes inferred
--self init-only
--semicolons never
--shortoptionals always
--smarttabs enabled
--someAny true
--stripunusedargs closure-only
--structthreshold 0
--swiftversion 6.0
--trimwhitespace always
--typeattributes prev-line
--typeblanklines preserve
--storedvarattrs prev-line
--computedvarattrs prev-line
--voidtype void
--wraparguments before-first
--wrapcollections before-first
--wrapconditions before-first
--wrapparameters before-first
--wrapreturntype preserve
--wrapternary default
--wraptypealiases preserve
--xcodeindentation disabled
--yodaswap always
--disable wrapConditionalBodies,wrapMultilineStatementBraces,wrapSingleLineComments,wrapSwitchCases,markTypes,opaqueGenericParameters,preferForLoop,redundantVoidReturnType,blankLinesAtEndOfScope,redundantReturn
--enable isEmpty,wrapEnumCases,redundantOptionalBinding,propertyTypes,organizeDeclarations
--organizationmode type
--markcategories false
--groupblanklines true
--typeorder nestedType,staticProperty,staticPropertyWithBody,classPropertyWithBody,overriddenProperty,computedProperty,swiftUIPropertyWrapper,swiftUIProperty,instanceProperty,instanceLifecycle,swiftUIMethod,overriddenMethod,staticMethod,classMethod,instanceMethod,beforeMarks
--visibilityorder open,public,package,internal,fileprivate,private
--exclude .build,build,DerivedData,ThirdParty,StanokKit/.build
